body {
    background-color: #fcd2d3;
    font-family: 'Merriweather', serif;
}

.pinkdolphin_image {
    background-size: cover;
    background-position: center;
    margin-bottom: 65px;

}

.pinkbird_image {
    background-size: cover;
    background-position: center;
    margin-bottom: 65px;
}


.pinkzebra_image {
    background-size: cover;
    background-position: center;
}


.pink_font {
    color: #872a33;
    text-align: center;
    font-family: merriwheather;
    font-size: 13px;

}

.center_img {
    display: block;
    margin: auto;
    width: 50%;
    border-radius: 15%;
}

.key {
    border-radius: 25px;
    height: 400px;
    width: 15%;
    background-color: #fffbe4;
    margin-bottom: 30px;
    padding: 5px;
    display: flex;
    justify-self: flex-start ;
    flex-direction: row;
}

#zebraCard {
    border-radius: 25px;
    background-color: #fffbe4;
    margin-bottom: 30px;
    position: absolute;
    z-index: 1000;
}

#birdCard {
    border-radius: 25px;
    background-color: #fffbe4;
    margin-bottom: 30px;
    position: absolute;
    z-index: 1000;
}

#dolphinCard {
    border-radius: 25px;
    background-color: #fffbe4;
    position: absolute;
    z-index: 1000;
}

.h2font {
    color: #ffb6c1;
    text-align: center;
}

.h2font_2 {
    color: #fe8396;
    text-align: center;
    font-size: 17px
}

.testimg {
    width: 10px;
    background-image: url('image-removebg-preview.png');
}

.container {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.container img {
    margin-right: 15px;
}

.container2 {
    position: relative;

}

.line {
    width: 100%;
    height: 200px;
    background-color: #ffb6c1;
    margin-top: 50px;


}

#map {
    height: 75vh;
    width: 80%;
    z-index: 0;
}

#outerMap {
    display: flex;
    justify-content: flex-end;
    vertical-align: middle;
    z-index: 0;
}

h1 {
    font-size: 50px;
    text-align: center;
    color: #dea3bd;
}

.hide {
    visibility: hidden;
}

.infoCard {
    height: 575x;
    width: 330px;
    border-radius: 25px;
    background-color: #fffbe4;
    position: absolute;
    text-align: center;
    margin: 10px;
    padding: 7px;
    padding-left: 10px;
    padding-right: 10px;
    margin-top: -475px;
    display: none;
    z-index: 1000;
    margin-left: 70%;
}

.cardButton {
    display: flex;
    justify-content: right;
    border-color: #FFE6E6;
    background-color: #FFE6E6;
    color: #dea3bd;
    margin: 10px;
}